POSTGRES_DB=salesops
POSTGRES_USER=salesops
POSTGRES_PASSWORD=REPLACE_ON_VM
APP_ALLOWED_ORIGIN=https://sales-ops-crm.duckdns.org
SPRING_FLYWAY_ENABLED=false
BACKEND_IMAGE=europe-west1-docker.pkg.dev/salesops-crm-pilot/salesops-docker/salesops-backend:pilot
FRONTEND_IMAGE=europe-west1-docker.pkg.dev/salesops-crm-pilot/salesops-docker/salesops-frontend:pilot
NGINX_CONFIG_FILE=./nginx/https.conf
